@charset "UTF-8";
/* CSS Document */

.container{
	margin-top: 10px;
}

.carousel-inner img{
	height: 30em;
	width: 20em;
	margin: 5px 0 0 5px;
	position: relative;
}

.carousel-indicators{
	margin-right: 8em;
}

h1,blockquote{
	margin-left: 1em;
}

.nav{
	margin-top:4em;
}

.h1{
	margin:auto;
}